:root {
    --clr-white: #ffffff;
    --clr-black: #121212;
    --clr-gray: #C9C9C9;
    --clr-shadow: rga(0,0,0, 0.2)

}



body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 50% 70%,


            #010094,
            #120541,
            #0a0623,
            #000008);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: animFondo 20s ease infinite;


    


}

@keyframes animFondo {
    0% {
        background-position: 50% 50%;
    }

    25% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 0%;
    }

    75% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 50% 50%;
    }

}

.contenedor {
    margin: auto;
    width: 70vh;
    text-align: center;
}


h1{
margin: 0;
    color: white;
    
}

.titulo{
    margin:0;

}
.tit1{
    
    padding:0;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 3rem;
    }
.tit2{
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3.3rem;
}

.excuse {
    border: solid 1.5px #010094;
    border-radius: 20px;
    color: white;
    padding: 40px 40px;
    margin: 30px 0 40px 0;
    background-color: var(--clr-black);
    font-size: 1.3rem;
    font-family: sans-serif;
    height: auto;
}

button {
     padding: 20px 30px;
    border: 0px;
    border-radius: 100px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--clr-black);
    box-shadow: var(--clr-black);
}
button:hover{
    transform: scale(1.05);
}

button:active{
    background-color: var(--clr-gray);
}